//Map logic
$breakpoints: (
    //name mq colour
    mobile 320px $red,
    tablet 740px $yellow,
    desktop 980px $green,
    wide 1300px $blue
);

@each $name, $mq, $color in $breakpoints {
    .list-example {
      @media (min-width: $mq){
          &:before {
            @include font-header;
          content:'#{$name}.';
        }
        background-color: $color;
        width: 100%;
        height: calc(100vh - #{$body__padding});
        position: absolute;
      }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
///// Test code I was playing around with
//////////////////////////////////////////////////////////////////////////////////////////////////////
// $colorList: (
//   $red,
//   $blue,
//   $green,
//   $yellow
// );

// @each $current-color in $colorList {
//   $i: index($colorList, $current-color);
//   .list-#{$i} {
//     width: 100%;
//     height: calc(100vh - #{$body__padding});
//     background-color: nth($colorList, $i);
//     position: absolute;
//   }
// }
