$body__padding: 15px;

$red: #e74c3c;
$blue: #3498db;
$green: #2ecc71;
$yellow: #E2C11F;
$white: #fafafa;

@mixin font-header {
  font: 100px $base-font-family;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $white;
}
.demo-container {
  position: relative;
  margin: 0;
  padding: 0;
}

$breakpoints: (
    mobile 320px #e74c3c,
    tablet 740px #3498db,
    desktop 980px #2ecc71,
    wide 1300px #E2C11F
);

@each $name, $mq, $colors in $breakpoints {
    .list-example {
      @media (min-width: $mq){
          &:before {
            @include font-header;
          content:'#{$name}';
        }
        background-color: $colors;
        width: 100%;
        height: calc(100vh - #{$body__padding});
        position: absolute;
      }
    }
}

// $colorList: (
//   $red,
//   $blue,
//   $green,
//   $yellow
// );

// @each $current-color in $colorList {
//   $i: index($colorList, $current-color);
//   .list-#{$i} {
//     width: 100%;
//     height: calc(100vh - #{$body__padding});
//     background-color: nth($colorList, $i);
//     position: absolute;
//   }
// }
